<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main class="signup">
                 <% if(errorMessage){ %>
                <div class="user-message user-message__error"><%=errorMessage %></div>
                <% }%>
                <form class="login-form" action="/signup" method="POST" novalidate>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="login-form__control">
                        <label for="email">E-mail</label>
                        <input value="<%=oldInput.email%>"
                        class="<%=validationErrors.email ? 'invalid' : ''%>"                         type="email"
                        name="email"
                        id="email" />
                    </div>
                  
                    <div class="login-form__control">
                        <label for="password">Password</label>
                        <input class="<%=validationErrors.password ? 'invalid' : ''%>"
                         value="<%=oldInput.password%>"
                         type="password"
                         name="password"
                         id="password" >
                    </div>
					<div class="login-form__control">
                        <label for="confirmPassword">Confirm password</label>
                        <input class="<%=validationErrors.confirmPassword ? 'invalid' : ''%>" value="<%=oldInput.confirmPassword%>" type="password" name="confirmPassword" id="confirmPassword" >
                    </div>

                    <button class="btn login" type="submit">Signup</button>
                </form>
            </main>
            <%- include('../includes/end.ejs') %>