<%- include('../includes/head.ejs') %>
    <%- include('../includes/navigation.ejs') %>
        </head>
        <main>
            <h1>My Products</h1>
            <% if(prods.length>0){ %>

                <div class="grid">
                    <% for(let product of prods) { %>
                        <article class="card product__item">
                            <h1 class="product__title">
                                <%= product.title %>
                            </h1>
                            <div class="card__image">
                                <img src="/<%=product.imageUrl%>" alt="<%=product.imageUrl%>" />
                            </div>

                            <div class="card__content">
                                <h2 class="product__price">$
                                    <%=product.price%>
                                </h2>
                                <p class="product__description">
                                    <%= product.description %>
                                </p>
                            </div>
                            <div class="card__actions">
                                <a href="/admin/editProduct/<%= product._id %>?edit=true" class="btn">Edit</a>
                                <form action="/admin/deleteProduct" method="post"> 
                                    <input type="hidden" name="productId" value="<%= product._id %>">
                                    <button href="/" class="btn__delete">Delete</button>
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                </form>
                            </div>
                        </article>
                        <% } %>
                </div>
                <% } else { %>
                    <h1>no products found</h1>
                    <% } %>
        </main>
        <%- include('../includes/end.ejs') %>