<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
        </head>
        <main class="cart">
            <h1>My cart</h1>
            <% if(prods.length>0){ %>
                <ul class="cart__item__list">
                    <% prods.forEach(p=>{ %>
                        <li class="cart__item product__item">
                            <div class="img">
                                <img src="<%=p.imageUrl%>" alt="">
                            </div>
                            <div class="details">
                                    <h2><%= p.title%></h2>
                                    <h3>Quantity: <%=p.cartItem.quantity%></h3>
                            </div>
                            <div class="form">
                                <form action="/cartDeleteItem" method="POST">
                                    <input type="hidden" name="productId" value="<%=p.id%>">
                                    <button class="btn__delete" type="submit">Delete</button>
                                </form>
                            </div>
                        </li>
                       <% }) %>
                </ul>

                <form action="/createOrder" method="post">
                    <button type="submit" class="btn">Order Now</button>
                </form>
                <% } else { %>
                    <h1>no products found</h1>
                  <%}%>
        </main>
        <%- include('../includes/end.ejs') %>